body{margin-top: 05%;
background-color:#8f8b83b6;
margin-left: 05%;
margin-right: 05%;
font-family: Arial, Helvetica, sans-serif;
}
h1{
    background-color: #0c0c0cea;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: rgb(238, 202, 43)
}